<odoo>
    <!---student-->
    <menuitem id="menu_student_register_main"
              name="Education Management" sequence="1"/>
    <menuitem id="menu_student_register"  name="Students"
              parent="menu_student_register_main"
              action="action_student_register"
              sequence="10"/>
    <!--Teacher-->
    <menuitem id="menu_teacher_tag" name="Teacher"
              parent="menu_student_register_main"
              action="action_teacher_tag"
              sequence="10"/>
    <!--Academics-->
     <menuitem id="menu_academics_root"
              name="Academics"
               parent="menu_student_register_main"
              sequence="10"/>

    <menuitem id="menu_education_class"
              name="Classes"
              parent="menu_academics_root"
              action="action_classes"
              sequence="1"/>

    <menuitem id="menu_academic_year"
              name="Academic Year"
              parent="menu_academics_root"
              action="action_academic_year"
              sequence="2"/>

    <menuitem id="menu_education_timetable"
              name="Timetable"
              parent="menu_academics_root"
              action="action_education_timetable"
              sequence="3"/>

    <menuitem id="menu_education_subject"
              name="Subject"
              parent="menu_academics_root"
              action="action_education_subject"
              sequence="4"/>
<!--Examination-->
   <menuitem id="menu_examination_root"
          name="Examination"
          parent="menu_student_register_main"
          sequence="10"/>

    <menuitem id="menu_schedule"
          name="Exam Schedule"
          parent="menu_examination_root"
          action="action_schedule"
          sequence="1"/>

    <menuitem id="menu_exam_marks"
              name="Exam Marks"
              parent="menu_examination_root"
              action="action_Marks"
              sequence="2"/>

    <menuitem id="menu_grade"
              name="Exam Grade"
              parent="menu_examination_root"
              action="action_grade"
              sequence="3"/>

     <menuitem id="menu_result"
              name="Results"
              parent="menu_examination_root"
              action="action_result"
              sequence="4"/>

     <menuitem id="menu_report"
              name="Reports"
              parent="menu_examination_root"
              action="action_report"
              sequence="5"/>

</odoo>

