<odoo>

    <!-- MAIN ROOT -->
    <menuitem id="menu_main_root"
              name="Education Management"
              sequence="1"/>

    <!-- ================= STUDENTS ================= -->
    <menuitem id="menu_student"
              name="Students"
              parent="menu_main_root"
              action="action_student_register"
              sequence="10"/>

    <!-- ================= TEACHER ================= -->
    <menuitem id="menu_teacher"
              name="Teacher"
              parent="menu_main_root"
              action="action_teacher_tag"
              sequence="20"/>

    <!-- ================= COURSE ================= -->

    <menuitem id="menu_course"
              name="Courses"
              parent="menu_main_root"
              action="action_course"
              sequence="30"/>

    <!-- ================= EXAMINATION ================= -->
    <menuitem id="menu_examination"
              name="Examination"
              parent="menu_main_root"
              sequence="40"/>

    <menuitem id="menu_schedule"
              name="Exam Schedule"
              parent="menu_examination"
              action="action_schedule"
              sequence="1"/>

    <menuitem id="menu_result"
              name="Results"
              parent="menu_examination"
              action="action_result"
              sequence="2"/>

    <menuitem id="menu_grade"
              name="Exam Grade"
              parent="menu_examination"
              action="action_grade"
              sequence="3"/>

    <menuitem id="menu_report"
              name="Reports"
              parent="menu_examination"
              action="action_report"
              sequence="4"/>

</odoo>